<%layout('layouts/boilerplate')%>
<h1><%= nest.title %></h1>
<h2><%= nest.location %></h2>
<img src="<%= nest.image %>" alt="">
<p><%= nest.description %></p>
<p>
    <a href="/nests/<%=nest._id%>/edit">Edit</a>
</p>
<p>
    <form action="/nests/<%=nest._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
</p>
<footer>
    <a href="/nests">All Nests</a>
</footer>
